.btnn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: none;
}

@media (max-width: 768px) {
  .btnn {
    justify-content: space-between;

    /* font-size: 10px; */
  }
  main {
    background-color: #beebd4;
  }
}
