/* .table-container{
   
    justify-content: flex-end;
    align-items: center;
    box-shadow: none;
  }
  
  @media (width: 768px) {
    .table-container {
      justify-content: space-between;
  
    }
} */