

.box-layout {
  
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 2px;
  width: 40ch;
  gap: 15px;
}
@media (max-width: 768px) {
  .box-layout {
   width:30ch;
  }
  
}
.head-layout{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 0;
  
}
@media (max-width: 844px) {
  .head-layout {
  flex-direction: column;
  margin-left: 5px;
 
  /* justify-content: flex-end; */
  /* column-gap: 2px; */
  }
  
}
.icons{
 
  margin-top: 0%;
  margin-left: 0;
  margin-bottom: 0;
 
}
@media (max-width: 844px) {
.icons{
  margin-top: 20px;
margin-left: 70px;
margin-bottom: 10px;
}

}
