.gradient-custom-3 {
  
    background: #84fab0;
  
height: 100%;
width: 100%;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  

    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  
  .gradient-custom-4 {
 
    background: #84fab0;
    height: 100%;
    width: 100%;
    
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
  
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }


/* Form.css */

/* Style for invalid input fields */
.is-invalid {
    border: 1px solid red !important;
    display: flex;
    justify-content: flex-start;
  }
  
  /* Style for error messages */
  .invalid-feedback {
    color: red;
  }
  