.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
margin-top: 200px;
margin-bottom: 300px;

}
body{
    margin-bottom: 0;
    background:linear-gradient(rgba(250,0,0,0.5),transparent);
}