/* Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color:rgb(24, 22, 22); */
  color:rgb(226, 208, 208);
}


.navbar-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  position: fixed;
  top: -20px;
  left: 0;
  background-color: black;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
color: wheat;
 
}

.navbar-links.active {
  transform: translateX(0);
 
}

.navbar-links li {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  color: rgb(241, 194, 194);
}

.navbar-links a {
  color: rgb(253, 247, 247);

  text-decoration: none;
}

.navbar-mobile-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(235, 229, 229);
  padding: 10px;
}

.bar {
  height: 3px;
  width: 30px;
  background-color: rgb(27, 26, 26);
  margin: 3px 0;
}

@media (min-width: 769px) {
  .navbar-links {
    position: static;
    transform: translateX(0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    /* width: auto;
    height: auto; */
    background-color:rgb(8, 8, 8);
  }

  .navbar-mobile-toggle {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-mobile-toggle {
    display: flex; /* Show in mobile view */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    color: rgb(248, 242, 242);
  }
  .close-icon{ 
    color: white;
    /* display: flex;
  flex-direction: row; */
  /* justify-content: flex-end;
  align-items: end; */
  margin-left: 160px;
  }

  /* ... your existing media query styles ... */
}

